<!-- Page Content -->
<div class="container">
    <div *ngIf="!product" class="loading"></div>
    <div *ngIf="product" class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="thumbnail product-detail">
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                        <img class="img-responsive" src="{{product.img_url}}">
                    </div>
                    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="caption-full">
                            <h3><label>{{product.name}}</label></h3>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                        </div>
                        <div class="product-desc">
                            {{product.desc}}
                        </div>
                        <div class="product-price">
                            Rs. {{product.price}}
                        </div>
                        <div class="add-to-cart-button">
                            <button class="btn btn-success">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                        <img class="img-responsive" src="../../assets/img/genuine-products.jpg">
                    </div>
                </div>
            </div>

            <div class="well review-area">
                <div class="text-right">
                    <button class="btn btn-success" (click)="IsShowReview=!IsShowReview">Leave a Review</button>
                </div>
                <div *ngIf="IsShowReview" class="well comment-area">
                    <h4>Leave a Comment:</h4>
                    <form role="form" [ngFormModel]="reviewForm" (ngSubmit)="postReview(reviewForm.value)">
                        <div class="form-group">
                            <textarea rows="3" class="form-control" placeholder="Post your Comment Here" ngControl="comment" required></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!reviewForm.valid">POST</button>
                    </form>
                </div>
                <hr>
                <div class="row" *ngFor="#review of productReviews">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {{review.user_name}}
                        <span class="pull-right">{{review.date}}</span>
                        <p>{{review.comment}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->