<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">{{appName}}</h1>
                <small>{{appTagLine}}</small>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>How would you like to get started today?</h2>
            <p>In the Web site, The Best Bodybuilding Routine for Beginners, we gave you the best workout routines for aspiring bodybuilders. We know that you pro gym goers were feeling left out..
            </p>
            <p>
                <a class="btn btn-default btn-lg" href="">Shop Now &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Angular-2</strong>
                <br>#51/16 Tavarekere , BTM 1st 
                <br>Bangalore, 560029
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(+91) 78478-26750
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">magic@angular2.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4" *ngFor="#submenu of menus[1].submenu">
            <a href=""[routerLink]="submenu.href">
                <img class="img-circle img-responsive img-center" src="{{submenu.img_url}}">
            </a>
            <center><h2>{{submenu.label}}</h2></center>
            <p>{{submenu.desc}}</p>
        </div>
    </div>
</div>
<!-- /.container -->