<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{type}}
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div *ngIf="!fitnessCenters" class="loading"></div>
    <!-- Project One -->
    <div class="row" *ngFor="#center of fitnessCenters">
        <div class="col-md-7">
            <a href="">
                <img class="img-responsive img-size" src="{{center.img_url}}">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{center.name}}</h3>
            <h4><i class="fa fa-map-marker"></i>  {{center.location}}</h4>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <i *ngIf="center.ac" class="fa fa-archive" title="AC"></i>
                        <i *ngIf="center.juice_bar" class="fa fa-glass" title="Juice Bar"></i>
                        <i *ngIf="center.personal_trainer" class="fa fa-user" title="Personal Trainer"></i>
                        <i *ngIf="center.locker" class="fa fa-lock" title="Locker"></i>
                        <i *ngIf="center.shower" class="fa fa-soundcloud" title="Shower"></i>
                        <i *ngIf="center.changing_room" class="fa fa-home" title="Changing Room"></i>
                        <i *ngIf="center.parking" class="fa fa-car" title="Parking"></i>
                        <i *ngIf="center.wifi" class="fa fa-wifi" title="WiFi"></i>
                    </h2>
                </div>
            </div>
            <div>
                <p><small>Average Price: Rs. {{center.price}}</small><p>
                <p><small><i class="fa fa-clock-o"></i>  {{center.timing}}</small><p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->