.relevant-data-detail {
	padding: 25px;
	margin-top: 20px;
}

.review-area {
	background-color: white;
}

.comment-area {
	margin-top: 10px;
}

.relevant-data-price {
	margin-top: 20px;
	color: orange;
	font-size: 50px;
}

.add-to-cart-button {
	padding: 20px;
}

.relevant-data-desc {
	margin-top: 10px;
}

.padding {
	padding: 20px;
}