<!-- Page Content -->
<div class="container">
    <div *ngIf="!item" class="loading"></div>
    <div *ngIf="item" class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="thumbnail item-data-detail">
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                        <img class="img-responsive" src="{{item.img_url}}">
                    </div>
                    <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="caption-full">
                            <h3><label>{{item.name}}</label></h3>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                        </div>
                        <div *ngIf="item.desc" class="item-data-desc">
                            {{item.desc}}
                        </div>
                        <div *ngIf="item.location" class="item-data-desc">
                            <i class="fa fa-map-marker"></i>  {{item.location}}
                        </div>
                        <div *ngIf="item.timing" class="item-data-desc">
                            <i class="fa fa-clock-o"></i>  {{item.timing}}
                        </div>
                        <div class="item-data-price">
                            Rs. {{item.price}}
                        </div>
                        <div class="add-to-cart-button">
                            <!-- Trigger the cart modal with a button -->
                            <button class="btn btn-success" data-toggle="modal" data-target="#cartModal" (click)="addToCart(item)">Add to Cart / Booking</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                        <img *ngIf="type === 'products'" class="img-responsive" src="../../assets/img/genuine-products.jpg">
                        <h1 *ngIf="type !== 'products' && type.split('_')[1] !== 'events' ">
                            <img src="../../assets/img/facility.png">
                            <i *ngIf="item.ac" class="fa fa-archive padding" title="AC"></i>
                            <i *ngIf="item.juice_bar" class="fa fa-glass padding" title="Juice Bar"></i>
                            <i *ngIf="item.personal_trainer" class="fa fa-user padding" title="Personal Trainer"></i>
                            <i *ngIf="item.locker" class="fa fa-lock padding" title="Locker"></i>
                            <i *ngIf="item.shower" class="fa fa-soundcloud padding" title="Shower"></i>
                            <i *ngIf="item.changing_room" class="fa fa-home padding" title="Changing Room"></i>
                            <i *ngIf="item.parking" class="fa fa-car padding" title="Parking"></i>
                            <i *ngIf="item.wifi" class="fa fa-wifi padding" title="WiFi"></i>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="well review-area">
                <div class="text-right">
                    <button class="btn btn-success" (click)="IsShowReview=!IsShowReview">Leave a Review</button>
                </div>
                <div *ngIf="IsShowReview" class="well comment-area">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea rows="3" class="form-control" placeholder="Post your Comment Here" required></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">POST</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
