<div class="container">
    <div *ngIf="bookingHistory.length === 0">
        <h1><label>You haven't ordered anything yet!</label></h1>
    </div>
    <div *ngFor="#order of bookingHistory">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <i class="fa fa-search-plus pull-left icon"></i>
                    <h2>Invoice for purchase Date : {{order.date | date }}</h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
                        <div class="panel panel-default height">
                            <div class="panel-heading">Billing Details</div>
                            <div class="panel-body">
                                <strong>{{order.shipping_address.name}}:</strong><br>
                                {{order.shipping_address.address}}<br>
                                {{order.shipping_address.city}}<br>
                                {{order.shipping_address.state}}<br>
                                <strong>{{order.shipping_address.pincode}}</strong><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="panel panel-default height">
                            <div class="panel-heading">Payment Information</div>
                            <div class="panel-body">
                                <strong>Payment Type:</strong><br>
                                Cash On delivery / <br>
                                Pay at the time of Event<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="panel panel-default height">
                            <div class="panel-heading">Order Preferences</div>
                            <div class="panel-body">
                                <strong>Gift:</strong> No<br>
                                <strong>Express Delivery:</strong> Yes<br>
                                <strong>Insurance:</strong> No<br>
                                <strong>Coupon:</strong> No<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3 pull-right">
                        <div class="panel panel-default height">
                            <div class="panel-heading">Shipping Address</div>
                            <div class="panel-body">
                                <strong>{{order.shipping_address.name}}:</strong><br>
                                {{order.shipping_address.address}}<br>
                                {{order.shipping_address.city}}<br>
                                {{order.shipping_address.state}}<br>
                                <strong>{{order.shipping_address.pincode}}</strong><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Item Name</strong></td>
                                        <td class="text-center"><strong>Item Price</strong></td>
                                        <td class="text-center"><strong>Item Quantity</strong></td>
                                        <td class="text-right"><strong>Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="#item of order.order_detail.items">
                                        <td>{{item.name}}</td>
                                        <td class="text-center">{{item.price}}</td>
                                        <td class="text-center" *ngIf="item.quantity">{{item.quantity}}</td>
                                        <td class="text-center" *ngIf="!item.quantity">N/A</td>
                                        <td class="text-right" *ngIf="item.quantity">{{item.price*item.quantity}}</td>
                                        <td class="text-right" *ngIf="!item.quantity">{{item.price}}</td>
                                    </tr>
                                    <tr>
                                        <td class="highrow"></td>
                                        <td class="highrow"></td>
                                        <td class="highrow text-center"><strong>Subtotal</strong></td>
                                        <td class="highrow text-right">{{order.order_detail.subTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow text-center"><strong>Shipping</strong></td>
                                        <td class="emptyrow text-right">Rs. 0.0</td>
                                    </tr>
                                    <tr>
                                        <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                        <td class="emptyrow"></td>
                                        <td class="emptyrow text-center"><strong>Total</strong></td>
                                        <td class="emptyrow text-right">{{order.order_detail.subTotal}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
