<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> My Profile </h4>
      </div>



      <div class="modal-body">
        <h1>Booking history </h1>
      </div>



    </div>
  </div>
</div>
