<!-- Login Modal -->
<div class="modal fade" id="loginModal" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-header custom-modal-header">
	      <button type="button" class="close" data-dismiss="modal" #closeLoginModal>&times;</button>
	      <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
	    </div>
	    <div class="modal-body custom-modal-body">
	      <form role="form" [ngFormModel]="loginForm" (ngSubmit)="userLogin(loginForm.value,closeLoginModal)">
	        <div class="form-group">
	          <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
	          <input type="email" class="form-control" id="email" placeholder="Enter Email" [ngFormControl]="loginForm.controls['email']" required>
	        </div>
	        <div class="form-group">
	          <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
	          <input type="password" class="form-control" id="password" placeholder="Enter Password" [ngFormControl]="loginForm.controls['password']" required>
	        </div>
	        <div class="row">
	        	<div class="col-md-offset-3 col-md-9">
	        		<alert *ngFor="#alert of alerts; #i = index" [type]="alert.type" dismissOnTimeout="3000" dismissible="true" (close)="alerts.splice(i, 1)">
					  {{ alert?.msg }}
					</alert>
	        	</div>
	        </div>
	        <div class="checkbox">
	          <label><input type="checkbox" value="" checked>Remember me</label>
	        </div>
	          <button type="submit" [disabled]="!loginForm.valid || logging" class="btn btn-lg btn-success btn-block">
	          	<span class="glyphicon glyphicon-off"></span> 
	          	<span *ngIf="!logging">Login</span>
    			<span *ngIf="logging">Logging...</span>
	          </button>
	      </form>
	    </div>
	    <div class="modal-footer">
	      <p>Not a member? <a href="" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Sign Up</a></p>
	    </div>
	  </div>
	</div>
</div>
