.custom-nav-for-login-signup {
	margin-top: 8px;
}

.capitalize-username {
	text-transform: capitalize;
}

.cart-in-header {
	height: 48px;
  	margin-top: -6px;
}

.numberCircle {
    background:#FFFFFF;
  	border:2px solid #666666;
  	border-radius:50%;
  	color:#666666;
  	font-family:Arial, sans-serif;
  	font-size:12px;
  	font-stretch:normal;
  	font-style:normal;
  	font-variant:normal;
  	font-weight:bold;
  	height:28px;
  	line-height:normal;
  	margin-left:-19px;
  	margin-top:-6px;
  	padding:6px;
  	position:absolute;
  	text-align:center;
  	width:28px;
}
